* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

:root {
  --primary: #fefefe;
  --secondary: #e32422;
}

body {
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;
  background-color: var(--secondary);
  align-items: center;
}

nav .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav img {
  width: 150px;
  padding-right: 5rem;
}

nav .navigation a {
  margin: 0 1rem;
  color: white;
  font-size: 0.8rem;
}

nav .navigation a:hover {
  content: "";
  border-bottom: 0.1rem solid white;
  transition: 0.3s;
}

nav .login {
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .login a {
  color: var(--secondary);
  font-size: 0.9rem;
}

/* Carousel */
.carousel {
  /* width: 100%; */
  overflow: hidden;
  position: relative;
}

.carousel .slides {
  /* width: 100%; */
  display: flex;
}

.carousel .slides input {
  display: none;
}

.carousel .slides img {
  width: 100%;
  transition: 1s;
}

.navigation-manual {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  width: 100%;
}

.manual-btn {
  border: 2px solid var(--primary);
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 10px;
}

/* .manual-btn:not(:last-child) {
  margin-right: 10px;
} */

.manual-btn:hover {
  background-color: var(--primary);
}

#radio1:checked ~ .slide1 {
  margin-left: 0;
}
#radio2:checked ~ .slide1 {
  margin-left: -100%;
}
